<!DOCTYPE html>
<html lang="<%= @item[:lang] %>">
  <head>
    <meta charset=UTF-8>
    <title><%= @item[:title] %> - OQP</title>
    <meta name="description" content="Une nouvelle licence pour les personnes occupées / A brand new license for busy people"/>
    <meta name="author" content="Vincent Finance"/>
    <meta name="viewport" content="initial-scale=1.0"/>
    <link rel="stylesheet" href="/css/site.css" type="text/css">
    <link rel="icon" type="image/x-icon" href="/pictures/favicon.ico"/>
    <meta name="generator" content="Nanoc <%= Nanoc::VERSION %>">
  </head>
  <body>
    <header>
    <svg
   aria-hidden="true"
   width="180"
   height="180"
   viewBox="0 0 180 180"
   xmlns="http://www.w3.org/2000/svg">
    <circle
       style="opacity:1;fill:#000000"
       id="path846"
       cx="90"
       cy="90"
       r="74.062401" />
    <circle
       style="opacity:1;fill:#ffffff;stroke-width:1.58875"
       id="path1060"
       cx="90"
       cy="90"
       r="64.546364" />
    <circle
       style="opacity:1;fill:#000000;stroke-width:0.845527"
       id="path1208"
       cx="90"
       cy="90"
       r="49.088505" />
    <circle
       style="opacity:1;fill:#ffffff;stroke-width:1.13717"
       id="path1334"
       cx="90"
       cy="90"
       r="41.5742" />
    <rect
       style="opacity:1;fill:#000000;stroke-width:0.838469"
       id="rect1462"
       width="15.197837"
       height="9.572834"
       x="169.14008"
       y="-17.962927"
       transform="rotate(52.171793)" />
    <rect
       style="opacity:1;fill:#000000;stroke:#000000;stroke-width:0.892313;stroke-opacity:1"
       id="rect1566"
       width="5.628942"
       height="56.289425"
       x="77.356323"
       y="61.434402" />
    <rect
       style="opacity:1;fill:#000000;stroke:#000000;stroke-width:0.735172;stroke-opacity:1"
       id="rect1670"
       width="10.745842"
       height="5.0202451"
       x="82.985268"
       y="61.434402" />
    <rect
       style="fill:#000000;stroke:#000000;stroke-width:0.735172;stroke-opacity:1"
       id="rect1670-3"
       width="10.745842"
       height="5.0202451"
       x="82.948296"
       y="80.978256" />
    <path
       style="fill:#000000;fill-opacity:1;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       d="m 93.662366,85.901505 4.479832,-0.205238 3.959572,-2.778451 3.20367,-3.73381 1.47636,-4.065444 -0.0686,-3.777282 -2.30299,-6.429559 -5.309992,-3.106271 -5.369121,-0.346129 10e-6,4.99533 5.133311,1.507437 2.766492,4.615267 -2.152392,5.534034 -5.816152,2.794785 z"
       id="path3010" />
  </g>
</svg>
      <% if @item[:lang] == 'en' %>
      <h1>OQP</h1>
      <p>A brand new license for busy people</p>
      <% elsif @item[:lang] == 'fr' %>
      <h1>OQP</h1>
      <p>Une nouvelle licence pour les gens occupés</p>
      <% end %>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer>
      <% if @item[:lang] == 'en' %>
      <div class="column">
      <h3>Menu</h3>
      <ul>
        <li><a title="Link to the home page" href="/en/index.html">Home</a></li>
        <li><a title="Link to introduce the license" href="/en/about.html">About the OQP License</a></li>
        <li><a title="Link to a page showing projects using the OQP license" href="/en/examples.html">Showcase</a></li>
      </ul>
      </div>
      <div class="column">
      <h3>Versions</h3>
      <ul>
        <li><a title="French version of this website" href="/fr/">French</a></li>
        <li><a title="English version of this website" href="/en/">English</a></li>
      </ul>
      </div>
      <div class="column">
      <h3>Community</h3>
      <ul>
        <li><a title="Link to the official XMPP room" href="xmpp:oqp@groups.automario.eu?join">Discussion room (XMPP)</a></li>
        <li><a title="Link to the official git repo of the project" href="https://framagit.org/vinishor/oqp-license">Git repository</a></li>
        <li><a title="" href="https://framagit.org/vinishor/oqp-license/-/blob/main/CONTRIBUTING">How to contribute?</a></li>
      </ul>
      </div>
      <div class="column">
      <h3>About this site</h3>
      <p>This website is under <a title="Website's license" href="/license.txt">OQP</a> license. It has been made with <a href="https://nanoc.app/about/">Nanoc</a> and it is hosted on <a href="https://www.openbsd.org">OpenBSD</a></p>
      </div>
      <% elsif @item[:lang] == 'fr' %>
      <div class="column">
      <h3>Menu</h3>
      <ul>
        <li><a title="Lien vers la page d'accueil" href="/fr/index.html">Accueil</a></li>
        <li><a title="Lien pour présenter la licence" href="/fr/apropos.html">À propos de la licence OQP</a></li>
        <li><a title="Lien vers une page présentant des projets utilisant la licence OQP" href="/fr/exemples.html">Exemples d'utilisation</a></li>
      </ul>
      </div>
      <div class="column">
      <h3>Versions</h3>
      <ul>
        <li><a title="Version française de ce site" href="/fr/">Français</a></li>
        <li><a title="Version anglaise de ce site" href="/en/">Anglais</a></li>
      </ul>
      </div>
      <div class="column">
      <h3>Communauté</h3>
      <ul>
        <li><a title="Lien vers le salon XMPP officiel" href="xmpp:oqp@groups.automario.eu?join">Salon de discussion (XMPP)</a></li>
        <li><a title="Lien vers le dépôt git officiel du projet" href="https://framagit.org/vinishor/oqp-license">Dépôt Git</a></li>
        <li><a title="" href="https://framagit.org/vinishor/oqp-license/-/blob/main/CONTRIBUTING">Comment contribuer ?</a></li>
      </ul>
      </div>
      <div class="column">
      <h3>À propos</h3>
      <p>Ce site est sous licence <a title="Licence du site" href="/license.txt">OQP</a>. Il a été conçu avec <a href="https://nanoc.app/about/">Nanoc</a> et il est hébergé sur une machine sous <a href="https://www.openbsd.org">OpenBSD</a></p>
      </div>
      <% end %>
    </footer>
  </body>
</html>
