@charset "UTF-8";
/* Import fonts */
@font-face {
 font-family: "Asap";
 src: url("/fonts/Asap-Regular.otf") format("opentype"),
      url("/fonts/Asap-Regular.woff2") format("woff2"),
      url("/fonts/Asap-Regular.ttf") format("truetype");
}
@font-face {
 font-family: "Asap-Bold";
 src: url("/fonts/Asap-Bold.otf") format("opentype"),
      url("/fonts/Asap-Bold.woff2") format("woff2"),
      url("/fonts/Asap-Bold.ttf") format("truetype");
}

/* Body settings */
body {
  background: rgb(248, 246, 241);
  color: rgb(126, 81, 33);
  margin: 0;
  padding: 0;
  font-family: "Asap", sans-serif;
  font-size: 1.15em;
}
h1, h2, h3, h4, h5 {
  font-family: "Asap-Bold", sans-serif;
}
/* Links decoration settings */
a:link, a:visited {
  text-decoration-style: dotted;
  color: rgb(170, 92, 8);
}
a:hover {
  color: rgb(42, 18, 10);
}
a:focus {
  outline: 3px solid rgb(170, 92, 8);
  outline-offset: 4px;
}
/* Header settings */
header {
  text-transform: uppercase;
  text-align: center;
}
main, header {
  margin: auto;
  width: 750px;
}
/* Main section settings */
main p {
  margin: 20px 0;
  line-height: 20px;
}
main ul, main ol {
  margin: 20px;
}
main ul li {
  list-style-type: square;
}
pre {
  background-color: white;
  padding: 10px;
  border: 1px solid;
  display: block;
  white-space: pre-wrap;
}
/* Footer menu settings */
footer {
  text-align: center;
  border-top: 3px solid rgb(170, 92, 8);
}
.column ul {
  list-style-type: none;
  padding: 0;
}
.column {
  width: 300px;
  display: inline-block;
  vertical-align: top;
}
/* Settings to make the website responsive */
@media (max-width: 700px) {
  main, header {
    width: 350px;
  }
}
